@charset "UTF-8";

/* Paleta de cores */

:root {
    --cor001: #00070D;
    --cor002: #011526;
    --cor003: #011C40;
    --cor004: #435C73;
}

@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: linear-gradient(to top, var(--cor002), var(--cor001));
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width : 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor002), var(--cor001));
    }

    section#login {
        width: 990px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    
    section#login > div#form {
        float: left;
        width: 50%;
    }

    div#form > h1 {
        font-size: 2em;
    }
    
    div#form > p {
        font-size: 16px;
    }
}