@charset "UTF-8";

/* Paleta de cores */

:root {
    --cor001: #00070D;
    --cor002: #011526;
    --cor003: #011C40;
    --cor004: #435C73;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor002);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #fff;
    width: 280px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #ffffff6b;
    transition: width .7s, height .7s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: var(--cor002) url(../images/shibuya.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin: 10px;
}

div#form > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    background-color: var(--cor002);
    width: 100%;
    height: 40px;
    border-radius: 7px;
    margin: 5px 0;
}

div.campo > span {
    color: #fff;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #e1f0fd;
    font-size: 1em;
    width: calc(100% - 50px);
    transform: translateY(-12px);
    height: 90%;
    border: none;
    border-radius: 7px;
    padding: 4px;
    transition: all .3s ease;
}

div.campo > input:hover {
    background-color: #eef7ff;
}

div.campo > input:focus-within {
    background-color: #fff;
}

div.campo label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #032858;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s ease;
}

form > input[type=submit]:hover {
    background-color: #001025;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 9px;
    margin-top: 5px;
    border: 2px solid var(--cor004);
    color: var(--cor004);
    text-decoration: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s ease;
}

form > a.botao:hover {
    background-color: var(--cor004);
    color: #fff;
}